{% extends 'base.html' %}

{% block titile %}
产品发布交流| 易维科技知识库
{% endblock %}

{% load staticfiles %}
<!--crumbs start-->
{% block custom_bread %}
    <section>
	<div class="wp">
		<div class="crumbs">
			<ul>
				<li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'ewproject:report' %}">分析报告</a>></li>
{#				<li><a href="{% url 'course:course_detail' course.id %}">产品详情</a>></li>#}
{#                <li>产品交流</li>#}
			</ul>
		</div>
	</div>
</section>
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/learn-less.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/course-report.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/common-less.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/common-less.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}" />

    <link href="{% static 'css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/editormd.preview.css' %}" rel="stylesheet">



{% endblock %}
{% block content %}
    <section>
    	<div class="wp butler_list_box list">
		<div class="butler_list layout">
			<div class="head">
				<ul class="fl tab_header">
{#					<li {% ifequal sort "" %}class="active"{% endifequal %}><a href="?sort=&keywords={{ search_keywords }}">全部</a> </li>#}
{#					<li  {% ifequal sort "hot" %}class="active"{% endifequal %}><a href="?sort=hot&keywords={{ search_keywords }}">人气 &#8595;</a></li>#}
				</ul>
{#                <div class="fr butler-num">共<span class="key">{{ teacher_nums }}</span>人&nbsp;&nbsp;&nbsp;</div>#}
			</div>
{% for report in all_reports %}

     <dl class="des">
{#					<dt>#}
{#						<a href="{% url 'org:teacher_detail' teacher.id %}">#}
{#                            <div class="picpic">#}
{#                                <img width="100" height="100" class="scrollLoading" src="{{ MEDIA_URL }}{{ teacher.image }}"/>#}
{#                            </div>#}
{#                        </a>#}
{##}
{#					</dt>#}
					<dd>
                            <h1>{{ report.typen }}<span class="key picbig"></span>{{ report.get_day_go }}</h1>
						<h3><ul class="cont">
							<li>作者：<span>{{ report.builder }}</span>   </li>
							<li>发布时间：<span>{{ report.build_date }}&nbsp;</span></li>
						</ul></h3>
                        <h2> <li><span>{{ report.name }}</span></li></h2>

                        <h3>
                        <li >附件[ {{ report.reportresource_set.count }} ]：
                                {% for reportresource in report.reportresource_set.all  %}
                                     <a href="{{ MEDIA_URL }}{{ reportresource.download }}">{{ reportresource.name }}、</a>
                                {% endfor %}

                        </li></h3>
{#                        <li >阅读[ {{ report.reportuser_set.count }} ]：#}
{#                                {% for reportuser in report.reportuser_set.all  %}#}
{#                                     {{ reportuser.name }}、#}
{#                                {% endfor %}#}
{##}
{#                        </li></h3>#}

					</dd>
                    <a class="buy buyservice" href="{{ MEDIA_URL }}{{ report.download }}" target="_blank" ><br/>阅读</a>
                </dl>
            {% endfor %}


		</div>

		</div>
    </section>

{#    <div id="main">#}
{##}
{##}
{#                    <div id="course_note">#}
{#                        <ul class="mod-post" id="report-list">#}
{##}
{#                            {% for report in all_reports %}#}
{#                            <li class="post-row">#}
{##}
{#                                <div class="bd">#}
{##}
{#                                     <h1>{{ report.typen }}</h1>#}
{#                                             <span class="fl">发布：<i class="key">{{ report.get_day_go }}</i></span>#}
{#                                    <div class="chapter chapter-active" >#}
{#                                        <h3>#}
{#                                            <strong class="t-title" value="{{ report.id }}"><i class="state-expand"></i>#}
{#                                            <p><span title="时间"  target="_blank" class="l timeago">  【{{ forloop.revcounter0 }}】{{ report.builder }} 时间：{{ report.build_date }}</span><br></p>#}
{#                                                <a href="{{ MEDIA_URL }}{{ report.download }}" target="_blank" >{{ report.name }}</a>#}
{#                                             </strong>#}
{#                                         </h3>#}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                            </li>#}
{#                            {% endfor %}#}
{##}
{##}
{#                        </ul>#}
{#                    </div>#}
{##}
{#                </div>#}






{#            <div class="aside r">#}
{#                <div class="bd">#}
{##}
{#                    <div class="box mb40">#}
{#                        <h4>资料下载</h4>#}
{#                        <ul class="downlist">#}
{#                            {% for course_resource in course.courseresource_set.get_queryset %}#}
{#                            <li>#}
{#                                <span ><i class="aui-iconfont aui-icon-file"></i>&nbsp;&nbsp;{{ course_resource.name }}</span>#}
{#                                <a href="{{ MEDIA_URL }}{{ course_resource.download }}" class="downcode" target="_blank" download="" data-id="274" title="">下载</a>#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="box mb40">#}
{#                        <h4>本课程提示</h4>#}
{#                        <div class="teacher-info">#}
{#                            <a href="{% url 'org:teacher_detail' course.teacher.id  %}" target="_blank">#}
{#                                <img src='{{ MEDIA_URL }}{{ course.teacher.image }}' width='80' height='80' />#}
{#                            </a>#}
{#                            <span class="tit">#}
{#                              <a href="{% url 'org:teacher_detail' course.teacher.id  %}" target="_blank">{{ course.teacher.name }}</a>#}
{#                            </span>#}
{#                            <span class="job">{{ course.teacher.work_position }}</span>#}
{#                        </div>#}
{#                        <div class="course-info-tip">#}
{#                            <dl class="first">#}
{#                                <dt>本课程定位</dt>#}
{#                                <dd class="autowrap">{{ course.you_need_know }}</dd>#}
{#                            </dl>#}
{#                            <dl>#}
{#                                <dt>老师点评课程？</dt>#}
{#                                <dd class="autowrap">{{ course.teacher_tell }}</dd>#}
{#                            </dl>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                    <div class="cp-other-learned  js-comp-tabs">#}
{#                        <div class="cp-header clearfix">#}
{#                            <h2 class="cp-tit l">该课的同学还学过</h2>#}
{#                        </div>#}
{#                        <div class="cp-body">#}
{#                            <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="course" style="display: block">#}
{#                                <!-- img 200 x 112 -->#}
{#                                <ul class="other-list">#}
{##}
{#                                    {% for relate_course in relate_courses  %}#}
{#                                    <li class="curr">#}
{#                                        <a href="{% url 'course:course_detail' relate_course.id %}" target="_blank">#}
{#                                            <img src="{{ MEDIA_URL }}{{ relate_course.image }}" alt="{{ relate_course.name }}">#}
{#                                            <span class="name autowrap">{{ relate_course.name }}</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    {% endfor %}#}
{##}
{##}
{##}
{#                                </ul>#}
{#                            </div>#}
{#                            <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="plan">#}
{#                                <ul class="other-list">#}
{#                                    <li class="curr">#}
{#                                        <a href="/course/programdetail/pid/31?src=sug" target="_blank">#}
{#                                            <img src="http://img.mukewang.com/56551e6700018b0c09600720-240-135.jpg" alt="Java工程师">#}
{#                                            <span class="name autowrap">Java工程师</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>    </div>#}
            </div>
            <div class="clear"></div>

        </div>

    </div>
</div>
{% endblock %}
{% block custom_js %}

<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/editormd.min.js'%}"></script>
<script src="{% static 'js/lib/marked.min.js'%}"></script>
<script src="{% static 'js/lib/prettify.min.js'%}"></script>
<script src="{% static 'js/lib/raphael.min.js'%}"></script>
<script src="{% static 'js/lib/underscore.min.js'%}"></script>
<script src="{% static 'js/lib/sequence-diagram.min.js'%}"></script>
<script src="{% static 'js/lib/flowchart.min.js'%}"></script>
<script src="{% static 'js/lib/jquery.flowchart.min.js'%}"></script>

{#<script>#}
{#  $(function () {#}
{#      // js 解析markdown#}
      {#editormd.markdownToHTML(class="mdcontent""mdcontent", {#}
{#      editormd.markdownToHTML("mdcontent*", {#}
{#          //htmlDecode      : "style,script,iframe",  // you can filter tags decode#}
{#          emoji           : true,#}
{#          taskList        : true,#}
{#          tex             : true,  // 默认不解析#}
{#          flowChart       : true,  // 默认不解析#}
{#          sequenceDiagram : true,  // 默认不解析#}
{#      });#}
{##}
{#      $(".reference-link").each(function (i,obj) {#}
{#        console.log(obj)#}
{#      })#}
{#  })#}
{##}
{##}
{#</script>#}

{#<script type="text/javascript">#}
{#    //添加交流#}
{#    $('#js-pl-submit').on('click', function(){#}
{#        var reports = $("#js-pl-textarea").val()#}
{#        var kind = $("#kind:checked").val()#}
{#        var ctitle = $("#ctitle").val()#}
{##}
        {#if(length(reports) < 15){#}
        {#    alert("交流正文不写15个字吧")#}
        {#    return#}
        {#}#}
{#        if(reports == ""){#}
{#            alert("内容不能为空")#}
{#            return#}
{#        }#}
{##}
{#        if(ctitle == ""){#}
{#            alert("主题不能为空")#}
{#            return#}
{#        }#}
{##}
{#        if(kind == ""){#}
{#            alert("请选择类型")#}
{#            return#}
{#        }#}
{##}
{#        $.ajax({#}
{#            cache: false,#}
{#            type: "POST",#}
{#            url:"{% url 'course:add_report' %}",#}
            {#data:{'course_id':{{ course.id }}, 'reports':reports},#}
{##}
{#            data:{'course_id':{{ course.id }},  'reports':reports,  'kind':kind, 'ctitle':ctitle },#}
{##}
{#            async: true,#}
{#            beforeSend:function(xhr, settings){#}
{#                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");#}
{#            },#}
{#            success: function(data) {#}
{#                if(data.status == 'fail'){#}
{#                    if(data.msg == '用户未登录'){#}
{#                        window.location.href="{% url 'login' %}";#}
{#                    }else{#}
{#                        alert(data.msg)#}
{#                    }#}
{##}
{#                }else if(data.status == 'success'){#}
{#                    window.location.reload();//刷新当前页面.#}
{#                }#}
{#            },#}
{#        });#}
{#    });#}
{##}
{#</script>#}
{% endblock %}
